body {
  /* background-image: url("./Levi-Snake-Game/hatter.jpg"); */
  background-color: white;
  justify-content: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.aaa {
  color: red;
}
