body {
  background-image: url("./hatter.jpg");

  background-color: white;
  justify-content: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: blue;
}

.scoreP {
  font-size: 20px;
  color: aqua;
}
